/*--------------Generelt--------------*/

* {
    margin: 0;
}

img {
    width: 100%;
}

nav a {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.3em;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: rgb(247, 212, 18);
}

body {}

.sectionwrap {
    height: 100%;

}

a {
    text-decoration: none;
    color: black;
}

.app {
    border: none;
}

a:hover {
    color: rgb(247, 212, 18);
}

.column {
    flex-basis: 200px;
    flex-grow: 1;
}

.img_dots {
    flex-grow: 1;
    flex-basis: 30px;
    background-image: url(kolonnedots.svg);
    height: auto;
    width: 100vw;
    margin-left: 2%;
    background-repeat: repeat-y;
}

h2 {
    font-family: 'Fira Sans', sans-serif;
    color: black;
    font-size: 2em;
    padding: 2%;
    text-align: center;
    animation-name: h_fade;
    animation-duration: 2.5s;
}

@keyframes h_fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h3 {
    font-family: 'Fira Sans', sans-serif;
    color: black;
    font-size: 1.3em;
    padding-top: 2%;
    padding-left: 2%;
    animation-name: h_fade;
    animation-duration: 2.5s;
}

p {
    font-family: 'Fira Sans', sans-serif;
    color: black;

    padding: 2%;
    animation-name: h_fade;
    animation-duration: 2.5s;
}


/*------------MENU-------------*/

.dropbtn {
    background-image: url(menu.svg);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 6.2vw;
    width: 6.1vw;
    background-size: cover;
    margin: 2vw;

}


.dropdown {
    position: relative;
    display: inline-block;


}



.dropdown-content {
    display: none;
    font-family: 'Fira Sans', sans-serif;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #EFCA16;
    color: white;
}

.dropdown-content a:hover {
    background-color: #EFCA16;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 755px) {
    .dropbtn {
        height: 8vw;
        width: 7.9vw;
    }
}

@media screen and (max-width: 526px) {
    .dropbtn {
        height: 13vw;
        width: 12.9vw;
    }
}

/*------------FRONTPAGE-------------*/

li {
    color: #b4aeae;
    margin-left: 4%;
    margin-bottom: 2%;
    font-family: 'Fira Sans', sans-serif;
}

.ref p {
    color: #918989;
    font-weight: 100;
}



.frontpage {
    background-image: url(frontpage-01.svg);
    background-size: 100%;
    position: relative;
    height: 100vh;
    width: 95vw;
    background-repeat: no-repeat;
}

@media screen and (max-width: 755px) {
    .frontpage {
        background-image: url(navn-01.svg);
        height: 100vw;
        width: 100vw;
        margin-top: 20%;
    }
}

@media screen and (max-width: 520px) {
    .frontpage {
        background-image: url(navn-01.svg);
        height: 100vw;
        width: 100vw;
        margin-top: 32%;
    }
}

@media screen and (max-width: 367px) {
    .frontpage {
        background-image: url(navn-01.svg);
        height: 100vw;
        width: 100vw;
        margin-top: 46%;
    }
}

#wrap {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 300px;
}

.header {
    background-image: url(navn-01.svg);
    background-size: 100%;
    position: relative;
    height: 25vh;
    width: 45vw;
    background-repeat: no-repeat;
    margin-left: 2%;

}

@media screen and (max-width: 1100px) {
    .header {
        height: 20vw;
        width: 55vw;
    }
}

@media screen and (max-width: 755px) {
    .header {
        height: 15vw;
        width: 65vw;
    }
}

@media screen and (max-width: 545px) {
    .header {
        height: 20vw;
        width: 85vw;

    }
}

/*----------------HTMLOGCSS----------------*/

#sectionwrap_html {
    display: flex;
    flex-wrap: wrap;
}

.img_bau {
    flex-grow: 1;
    flex-basis: 40px;
    background-image: url(kolonnedots.svg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin-left: 2%;
}

.text_bau {
    flex-grow: 2;
    flex-basis: 300px;
    margin-right: 10%;
}



.text_bau img {
    height: 25vw;
    width: 47vw;
    object-fit: cover;
    padding-left: 15%;

}

.text_bau img:hover {
    opacity: 0.6;


}

/*----------------ANIMATION----------------*/

#sectionwrap_animation {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: 100%;
}

.text_animation {
    flex-grow: 2;
    flex-basis: 300px;
    margin-right: 10%;
    justify-content: center;
}

.img_ani {
    display: flex;
    flex-wrap: wrap;

}

/*----------------VIDEO/REDESIGN----------------*/

#sectionwrap_video {
    display: flex;
    flex-wrap: wrap;
}

.text_virkvid {
    flex-grow: 2;
    flex-basis: 300px;
    margin-right: 10%;
    justify-content: center;
}

.column_video {
    text-align: center;
}

.column_redesign {
    height: 30vw;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
}

.column_redesign img:hover {
    opacity: 0.6;
}


.youtube iframe {
    position: absolute;
    width: 100%!important;
    height: 100%!important;
}

.youtube {
    position: relative;
    padding-bottom: 60%;
    /* 16:9 Aspect Ratio */
    padding-top: 1px;
    margin-top: 6%;
    margin-bottom: 10%;
    margin-left: 6%;
    border: none;
}


/*----------------UX----------------*/

.text_ux {
    flex-grow: 2;
    flex-basis: 300px;
    margin-right: 10%;
    justify-content: center;
}

/*----------------TIMELINE/CV----------------*/

.cover_billede {
    width: 50%;
}

#cv_img {
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}

* {
    box-sizing: border-box;
}

#sectionwrap_cv {
    background-color: #EFCA16;
    font-family: Helvetica, sans-serif;
}


.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 0.7vw;
    background-color: white;

    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: black;
    border: 4px solid black;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

@media all and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after,
    .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
    #cv_img {
        width: 100%;
    }
}
